/* ============================================================
  RESET - http://meyerweb.com/eric/tools/css/reset/
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


/*
IMPORTS
*/

@import "slideshow.css";
@import "../bower_components/tipsy/src/stylesheets/tipsy.css";
@import "../bower_components/colorbox/example4/colorbox.css";
@import "coverflow.css";
@import "snoo.css";


body {
  
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============================================================
  BOX SIZING & CLEARFIX
============================================================ */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================
  HTML & BODY
============================================================ */
body {
  background-color: #b4b4b4;
  color: #787878;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position:relative;
}

/* ============================================================
  HEADER & SITE TITLE
============================================================ */


@media all and (min-width: 600px) {
}


/* ============================================================
  FOOTER
============================================================ */
footer {
  padding: 20px 0;
  background: url(../img/patterns/vertical_cloth.png);
  color:white;
  z-index: 4;
  position: relative;
}
footer .asides {
  margin-bottom: 20px;
}
footer aside {
  margin-bottom: 10px;
  line-height:21px;
  position: relative;
}
footer aside:last-child{
  text-align: center;
}
footer .file img {
  -webkit-transition: all .25s;
  transition: all .25s;
  display: inline-block;
  position: relative;
}
footer .file .download{
  background-color:black;
  background-color: rgba(0,0,0,.7);
  color:white;
  position: absolute;
  display: inline-block;
  height:30px;
  line-height: 30px;
  border-radius: 30px;
  top:60px;
  left:50%;
  margin-left:-75px;
  -webkit-transition: all .7s;
  transition: all .7s;
  width:150px;
}
footer .file:hover img {
  -webkit-transform: scale(1.3) rotateZ(5deg);
  transform: scale(1.3) rotateZ(5deg);
}
footer .file:hover .download{
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  box-shadow: 3px 3px 10px #333;
}
footer .copyright {
  text-align: center;
}
footer .copyright small {
  color: #fff;
  font-size: 12px;
}
footer .copyright a {
  color: #818181;
}
ul.social li{
  display: inline-block;
  margin-right:5px;
}
ul.social img{
  opacity: .7;
  height:40px;
  width:40px;
  -webkit-transition: opacity .5s;
  transition: all .5s;
  border-radius: 40px;
}
ul.social li:hover img{
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0px 3px 10px #000;
  
}

@media all and (min-width: 600px) {
  footer aside {
    margin-bottom: 0;
    float: left;
    width: 33.3333%;
  }
  footer nav ul {
    text-align: left;
  }
  footer nav li {
    display: block;
  }
  footer nav a {
    display: inline-block;
    margin: 0;
  }
  footer .logo {
    text-align: right;
  }
}

/* ============================================================
  TEXT LEVEL SEMANTICS
============================================================ */

a {
  text-decoration: none;
  color: #3399cc;
}

a:hover {
  color: #006699;
}
i{
  font-style:italic;
}
b{
  font-weight:bold;
}

/* ============================================================
  START LAYOUT BITS...
============================================================ */

.module{
  position: relative;
}

/* ============================================================
  SECTIONS
============================================================ */

section *{
  z-index:4;
  position: relative;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 10px;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 32px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background:url('../img/patterns/crossword.png');
  box-shadow:0px 20px 20px rgba(0,0,0,.25);
  z-index:4;
  position: relative;
}
section.module.parallax {
  background-position: 0 0;
  background-repeat: no-repeat;
  padding:100px 0px;
  background-color: black;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  left:0;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  text-shadow: 3px 3px 20px #000;
}
#section_recent h2{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 32px;
}
/*
#section_recent h2{
  -webkit-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
  display: inline-block;
  background: rgb(240,200,100);
  padding:20px;
  box-shadow: 2px 2px 20px #999;
  position: relative;
  top:20px;
  left: -20px;
  color:#333;
}
*/
#section_case2{
 overflow: hidden;
}
#section_case2 h1{
  font-size: 36px;
  margin-bottom: 20px;
}
#section_case2 h1 a:link, #section_case2 h1 a:visited{
  color:#c0d454;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#section_case2 h1 a:hover, #section_case2 h1 a:active{
  color:#c0d454;
  text-shadow: 1px 1px 8px #000;
}
#section_future{
  padding:70px 0; 
}
#section_future p{
  line-height:42px;
}
//section.module.parallax h1.offlow {
section.module.parallax h1.offscreen {
  /*  left:-6000px;*/
  -webkit-transform: scale(.7) rotateX(90deg);
  transform: scale(.7) rotateX(90deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
}
section.module.parallax-1 {
  background-image: url("../img/backgrounds/iceland1.jpg");
  height:700px;
 // background-attachment: fixed;
  transform: rotate3d(0,0,0);
}
section.module.parallax-2 {
  background-image: url("../img/backgrounds/ireland1.jpg");
  transform: translateZ(0);
//  background-attachment: fixed;
  transform: rotate3d(0,0,0);
}
section.module.parallax-3 {
  background-image: url("../img/backgrounds/ireland1.jpg");
  transform: translateZ(0);
//  background-attachment: fixed;
  transform: rotate3d(0,0,0);
}
section.module.parallax-4 {
  background-image: url("../img/backgrounds/bc_ipad.jpg");
  transform: translateZ(0);
//  background-attachment: fixed;
  padding-top:50px;
  height:720px;
  transform: rotate3d(0,0,0);
}

@media all and (min-width: 600px) {
  section.module h2 {
/*    font-size: 42px;*/
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
/*    font-size: 36px;*/
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 48px;
  }
}

/* ============================================================
  HEADER
============================================================ */

#headerbar{
  position: absolute;
  background: rgba(0,0,0,0);
  top:0;left:0;bottom:0;right:0;
  -webkit-transition: background 1s;
  transition: background 1s;
  height:700px;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.parallax-1.onscreen #headerbar{
  background: rgba(0,0,0,.7);
  background: rgba(0,0,0,.7);
}
#headerbar.fixed{
  position: fixed;
  background: rgba(0,0,0,.7);
  z-index:10;
  top:-600px;
}
#nav_dots,#nameplate{
  opacity:0;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  color: white;
  font-size:18px;
  bottom:-20px;
}
#nav_dots{
  right:30px;
}
#nav_dots a{
  display: inline-block;
  margin-right: 10px;
  height: 15px;
  width: 15px;
  border: 2px solid white;
  -webkit-transition: all .25s;
  transition: all .25s;
  border-radius: 15px;
}
#nav_dots a:link,#nav_dots a:visited{
  background-color:none;
}
#nav_dots a:hover,#nav_dots a:active{
  background-color:white;
  background-color:rgba(255,255,255,.5);
}
#nav_dots a.active{
/*
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
*/
  background-color:white;
  cursor: default;
}
#nameplate{
  left:30px;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#headerbar.fixed #nameplate{
  opacity:1;
  bottom: 40px;
}
#headerbar.fixed #nav_dots{
  opacity:1;
  bottom: 40px;
}
#headerbar .container{
  -webkit-transition: all .5s;
  transition: all .5s;
  left:0px;
}

/* ============================================================
  CONTENT
============================================================ */
#headerlogo_top{
  display: block;
  position: absolute;
  top:20px;
  left:50%;
  margin-left: -270px;
  -webkit-filter: drop-shadow(3px 3px 10px rgba(0,0,0,.4));
  filter: drop-shadow(3px 3px 10px rgba(0,0,0,.4));
}
#headerlogo_bottom{
  display: block;
  position: absolute;
  top:400px;
  left:50%;
  margin-left: -270px;
  z-index: 11;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,.5));
  filter: drop-shadow(3px 3px 5px rgba(0,0,0,.5));
}
#headerlogo_bottom.barred{
  top:590px;
  -webkit-transform: scale(.6);
  -ms-transform: scale(.6);
  transform: scale(.6);
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,0));
  filter: drop-shadow(3px 3px 5px rgba(0,0,0,0));
}
.colorbacker{
  background-color:rgba(0,0,0,.0);
  -webkit-transition: all .5s;
  transition: all .5s;
  position:absolute;
  width:100%;
  height: 100%;
  top:0;left:0;
  opacity: .2;
}
.about ul{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  font-size: 1.1rem;
  overflow: visible;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}
.about li{
  padding:10px 20px 10px 30px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  background:url('../img/arrow_right.png') no-repeat 10px 17px;
  background-size: 6px 13px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  border-radius: 5px;
  line-height: 32px;
  transform: translateZ(0);
}
.about li:hover{
  background-color:rgba(255,255,255,.6);
  box-shadow: 0px 0px 20px #ddd;
  color:#333;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.about li.offscreen{
  opacity:.3;
}
.skills{
  color: #fff; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.skillheader{
  height: 40px;
  line-height: 40px;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
}
.skills ul{
  list-style-type: square;
  text-align: left;
  padding: 20px 10px 10px 30px;
}
.skills li{
  margin-top:10px;
  line-height: 24px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.skills li:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.skill {
  position: relative;
  text-align: center;
  width: 30%;
  background: rgba(0,0,0,.4);
  padding-top:20px;
  -webkit-transform: scale(1) rotateX(12deg);
  transform: scale(1) rotateX(12deg);
  box-shadow: 10px 10px 20px rgba(0,0,0,.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
.skill:hover{
  background: rgba(0,0,0,.7);
  -webkit-transform: scale(1.2) rotateX(0deg);
  transform: scale(1.2) rotateX(0deg);
  box-shadow: 10px 100px 200px rgba(0,0,0,.5);
    -webkit-transition: all .3s;
  transition: all .3s;

}
/*
.skill.offlow{
  -webkit-transform: scale(.7) rotateX(70deg);
  transform: scale(.7) rotateX(70deg);
  opacity:0.1;
}
*/
//.skill li.offlow{
.skill li.offscreen{
  opacity: .2;
}

.skilliconshadow {
  background:rgba(0,0,0,.5);
  width:200px;
  height:200px;
  position: absolute;
  top:60px;
  left:50%;
  margin-left:-100px;
  z-index:4;
  border-radius: 100px;
  -webkit-transition: all .3;
  transition: all .3s;
}
.skill:hover .skilliconshadow{
  background:rgba(0,0,0,.8);
}
.skill:nth-of-type(1):hover .skilliconshadow{
  background:rgba(128,0,0,.8);
}
.skill:nth-of-type(2):hover .skilliconshadow{
  background:rgba(0,128,0,.8);
}
.skill:nth-of-type(3):hover .skilliconshadow{
  background:rgba(0,0,128,.8);
}

.skillicon {
  z-index: 4;
  position: relative;
  top:8px;
  opacity:.4;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.skill:hover .skillicon{
  opacity: 1;
}


/* ============================================================
  HORIZONTAL BG SCROLLER
============================================================ */
/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll{
  display: none;
  opacity: .5;
  -webkit-transform:rotate3d(0,0,0);
  transform:rotate3d(0,0,0);
}
.csstransforms3d .scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 1;
  width: 3000px;
  height:100%;
  background: url('../img/horiz_parallax/horizon.png');
}

.middle
{
  z-index: 2;
  width: 4000px;
  height:100%;
  background: url('../img/horiz_parallax/middle.png');
}

.front
{
  z-index: 3;
  width: 6000px;
  height:100%;
  background: url('../img/horiz_parallax/front.png');
}

/* ============================================================
  COVERFLOW ADD-ONS
============================================================ */
.coverflow{
  -webkit-perspective: 1000px;
  perspective: 1000px;
  z-index: 4;
}
.coverflow-cell canvas{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.coverflow-text{
  background-color:rgba(0,0,0,.7);
  height:200px;
  padding:20px 100px;
  margin-top:90px;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.coverflow-text.onscreen{
  background-color:rgba(0,0,0,.7);
  opacity: 1;
  -webkit-transform: rotateX(12deg);
  transform: rotateX(12deg);
}
section.module .coverflow-text h2{
  
}
section.module .coverflow-text h3{
  font-size:16px;
  line-height:24px;
}

/* ============================================================
  BOWER COMPONENT OVERRIDES
============================================================ */
.tipsy{
  font-size: 14px;
  margin-top: 5px;
}

/* ============================================================
  CSS ANIMATION DEFINITIONS
============================================================ */
@-webkit-keyframes throb {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}
@keyframes throb {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

/* ============================================================
  RESPONSIVE BOLD STROKES
============================================================ */
@media all and (max-width: 959px) {
  .about ul{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; 
  }
  .about li{
    font-size:14px;
    line-height: 21px;
  }
  .skills{
    display:block;
    -webkit-perspective: none;
    perspective: none;
    padding:0;
  }
  .skill{
    width:100%;
    box-shadow: none;
    background: rgba(0,0,0,.7);
    -webkit-transform: none;
    transform: none;
    margin-top:10px;
    position: relative;
  }
  .skills li:hover{
    -webkit-transform: none;
    transform: none;
  }
  .skill:hover{
    -webkit-transform: none;
    transform: none;
    box-shadow: none;
  }
  .skill .skillicon{
    opacity: 1;
    width:60px;
    height:60px;
    top:10px;
    left:10px;
    position: absolute;
  }
  .skill .skilliconshadow{
    background:rgba(0,0,0,.8);
    height:60px;
    width:60px;
    position: absolute;
    top:10px;
    left:10px;
    margin:0;
  }
  .skill li{
    font-size: 14px;
    line-height: 21px;
    margin-top:5px;
  }
  .skill:nth-of-type(1) .skilliconshadow{
    background:rgba(128,0,0,.8);
  }
  .skill:nth-of-type(2) .skilliconshadow{
    background:rgba(0,128,0,.8);
  }
  .skill:nth-of-type(3) .skilliconshadow{
    background:rgba(0,0,128,.8);
  }
  .skillheader{
    box-sizing: border-box;
    padding-left: 80px;
    text-align: left;
  }
  .sp-slideshow{
    height:auto;
  }
  .slider-pics{
    float:none;
    width:auto;
  }
  .slider-text{
    float:none;
    width:auto;
    font-size: 14px;
    line-height: 21px;
  }
  .slider-pics li{
    max-width: 45% !important;
  }
  .slider-pics li img{
    max-height: 90px !important;
  }
  aside{
    display: block;
    width:100%;
    text-align: center;
  }
  #nav_dots{
    display: none;
  }
  section.module.parallax{
    padding:10px;
  }
  #section_future p{
    font-size: 14px;
    line-height: 21px;
  }
}


