.coverflow {
  z-index: 10;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-touch-callout: none; }

.coverflow .coverflow-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible; }

.coverflow .coverflow-tray,
.coverflow .coverflow-rect {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.coverflow .coverflow-tray,
.coverflow .coverflow-cell {
  pointer-events: none;
  position: absolute;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.coverflow .coverflow-hit {
  position: absolute;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.coverflow .coverflow-cell canvas {
  pointer-events: none;
  outline: 1px solid transparent;
  position: absolute; }

.coverflow-text {
  position: absolute;
  width: 100%; }

.coverflow-text h1,
.coverflow-text h2 {
  margin: 0; }

/*buttons*/
.coverflow_button{
  background-color: rgba(255,255,255,.8);
  border:2px solid white;
  height:60px;
  width:60px;
  border-radius: 60px;
  color:black;
  text-transform: uppercase;
  position: absolute;
  bottom:200px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  z-index: 20;
  box-shadow: 3px 3px 10px #333;
  -webkit-transition: all .5s;
  transition: all .5s;
  outline: none;
}
.coverflow_left{
  left:0px;
}
.coverflow_right{
  right:0px;
}
.coverflow_button:hover{
  box-shadow: 3px 3px 20px #000;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}