.module{
  position: relative;
}
/* ============================================================
  SECTIONS
============================================================ */
section *{
  z-index:2;
  position: relative;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: "Alex Brush";
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background:url('../img/patterns/crossword.png');
  box-shadow:0px 20px 20px rgba(0,0,0,.25);
  z-index:2;
  position: relative;
}
section.module.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding:100px 0px;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/backgrounds/iceland1.jpg");
  height:700px;
}
section.module.parallax-2 {
  background-image: url("../img/backgrounds/ireland1.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/backgrounds/ireland1.jpg");
}
section.module.parallax-4 {
  background-image: url("../img/backgrounds/ireland1.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 90px;
  }
}

/* ============================================================
  CONTENT
============================================================ */
.headerlogo{
  display: block;
  position: absolute;
  top:20px;
  left:50%;
  margin-left: -270px;
/*
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,.3));
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,.3));
*/
}
#logoshadow{
  top:20px;
}

.about ul{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  font-size: 1.1rem;
  overflow: visible;
}
.about li{
  padding:10px 20px 10px 30px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  background:url('../img/arrow_right.png') no-repeat 10px 17px;
  background-size: 6px 13px;
  -webkit-transition: all .2s;
  transition: all .5s;
  -webkit-transform: translate3d(0,0,0);  
  transform: translate3d(0,0,0);
  border-radius: 5px;
}
.about li:hover{
  background-color:rgba(255,255,255,.6);
  box-shadow: 0px 0px 20px #ddd;
  color:#333;
}
.skills{
  color: #fff; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.skills ul{
  list-style-type: square;
  text-align: left;
  padding-left:20px;
}
.skill {
  position: relative;
  text-align: center;
  width: 30%;
  background: rgba(0,0,0,.1);
  -webkit-transition: all .3s;
  transition: all .3s;
  padding-top:20px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.skill:hover{
  background: rgba(0,0,0,.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.skilliconshadow {
  background:rgba(0,0,0,.5);
  width:200px;
  height:200px;
  position: absolute;
  top:20px;
  left:50%;
  margin-left:-100px;
  z-index:0;
  border-radius: 100px;
  -webkit-transition: all .2;
  transition: all .3s;
}
.skill:hover .skilliconshadow{
  background:rgba(0,0,0,.8);
}
.skill:nth-of-type(1):hover .skilliconshadow{
  background:rgba(128,0,0,.8);
}
.skill:nth-of-type(2):hover .skilliconshadow{
  background:rgba(0,128,0,.8);
}
.skill:nth-of-type(3):hover .skilliconshadow{
  background:rgba(0,0,128,.8);
}

.skillicon {
  z-index: 1;
  position: relative;
  top:8px;
  opacity:.5;
  -webkit-transition: all .5s;
  transition: all .7s;
}
.skill:hover .skillicon{
  opacity: 1;
}


/* ============================================================
  HORIZONTAL BG SCROLLER
============================================================ */
/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
}

/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  z-index: 1;
  width: 3000px;
  height:100%;
  background: url('../img/horiz_parallax/horizon.png');
  opacity:.2;
}

.middle
{
  z-index: 1;
  width: 4000px;
  height:100%;
  background: url('../img/horiz_parallax/middle.png');
  opacity:.2;
}

.front
{
  z-index: 1;
  width: 6000px;
  height:100%;
  background: url('../img/horiz_parallax/front.png');
  opacity:.2;
}